.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: auto;
    min-width: 220px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card__information {
    padding: 8px;
}

a {
    text-decoration: none;
    color: paleturquoise;
}

a:hover {
    text-decoration: none;
    color: pink;
    font-size: 26px;
}

img {
    width: 100%;
}
